<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="3.3.0.2824" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="net461" />
  <package id="oxyplot-extensions" version="1.0.13" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net461" />
</packages>